@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@media (min-width: 1200px) {
    .invest-container{
        display:"flex";
        flex-direction:"column"; 
        height:800px; 
        width:1440px;
        background:"#F2F2F2";
        background-size: cover;
    }
    .img-container{
        display: flex;
        background: url("https://res.cloudinary.com/devj4jofj/image/upload/v1694762566/Rectangle_2598_pbleoe.jpg"),lightgray 50% / cover no-repeat;
        height: 800px;
        width: 1440px;
        background-color: #F2F2F2;
        background-size: cover;
    } 
    .content{
        flex: 1;
        margin-right: 2000px;
    }
    .heading{
        color:"#232073"; 
        font-family:"Poppins"; 
        font-size:44px; 
        font-weight:700px; 
        text-transform:"uppercase";
        margin-left:100px; 
        margin-top: 300px;
    }
    .invest-span{
        font-family: 'Poppins';
        font-size: 44px;
        font-style: 'normal';
        font-weight: 700px;
        line-height: 51px;
        text-transform: 'uppercase';
        background: 'linear-gradient(90deg, #232073 52.7%, #D92365 85.57%)';
        
    }
    .heading-1{
        color:"#220D4E"; 
        font-family:"Poppins"; 
        font-size:24px; 
        font-weight:300px; 
        text-transform:"capitalize";
        line-height:44px;
        margin-left:100px; 
        margin-top:20px;
    }
    .per-style{
        font-family: 'Poppins';
        font-size: 24px;
        font-style: 'normal';
        font-weight: 300px;
        line-height: 44px;
        text-transform: 'capitalize';
        background: 'linear-gradient(90deg, #D92365 26.96%, #232073 82.35%)';
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .fd-style{
        font-family: 'Poppins';
        font-size: 24px;
        font-style: 'normal';
        font-weight: 300px;
        line-height: 44px;
        text-transform: 'capitalize';
        background: 'linear-gradient(90deg, #232073 0%, #D92365 47.22%)';
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .button-1{
        width: 235px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 50px;
        background: #D92365;
        color: #F2F2F2;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px; /* 183.333% */
        text-transform: capitalize;
        margin-left: 100px;
        margin-top: 20px;
    }
    .image-2{
        height: 600px;
        width: 1400px;
        margin-left: 120px;
        background: none;
    }
    .icon-container{
        width: 112px;
        height: 16px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        margin-top: 260px;
        margin-left: 700px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .invest-container{
        display:"flex";
        flex-direction:"column"; 
        height:800px; 
        width: 1440px;
        background:"#F2F2F2";
        background-size: cover;
    }
    .img-container{
        display: flex;
        background: url("https://res.cloudinary.com/devj4jofj/image/upload/v1694762566/Rectangle_2598_pbleoe.jpg"),lightgray 50% / cover no-repeat;
        height: 800px;
        width: 1440px;
        background-color: #F2F2F2;
        background-size: cover;
    } 
    .content{
        flex: 1;
        margin-right: 2000px;
    }
    .heading{
        color: #232073;
        font-family: Poppins;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 51px; /* 115.909% */
        text-transform: uppercase;
        margin-left:250px; 
        margin-top: 300px;
        width: 686px;
    }
    .invest-span{
        font-family: 'Poppins';
        font-size: 40px;
        font-style: 'normal';
        font-weight: 700px;
        line-height: 51px;
        text-transform: 'uppercase';
        background: 'linear-gradient(90deg, #232073 52.7%, #D92365 85.57%)';
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .heading-1{
        color:"#220D4E"; 
        font-family:"Poppins"; 
        font-size:24px; 
        font-weight:300px; 
        text-transform:"capitalize";
        line-height:44px;
        margin-left:250px; 
        margin-top:20px;
    }
    .per-style{
        font-family: 'Poppins';
        font-size: 24px;
        font-style: 'normal';
        font-weight: 300px;
        line-height: 44px;
        text-transform: 'capitalize';
        background: 'linear-gradient(90deg, #D92365 26.96%, #232073 82.35%)';
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .fd-style{
        font-family: 'Poppins';
        font-size: 24px;
        font-style: 'normal';
        font-weight: 300px;
        line-height: 44px;
        text-transform: 'capitalize';
        background: 'linear-gradient(90deg, #232073 0%, #D92365 47.22%)';
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .button-1{
        width: 235px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 50px;
        background: #D92365;
        color: #F2F2F2;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px; /* 183.333% */
        text-transform: capitalize;
        margin-left: 250px;
        margin-top: 20px;
    }
    .image-2{
        height: 600px;
        width: 1400px;
        margin-left: 120px;
        background: none;
    }
    .icon-container{
        width: 112px;
        height: 16px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        margin-top: 260px;
        margin-left: 700px;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .invest-container{
        display:"flex";
        flex-direction:"column"; 
        height:800px; 
        width: 1440px;
        background:"#F2F2F2";
        background-size: cover;
    }
    .img-container{
        display: flex;
        background: url("https://res.cloudinary.com/devj4jofj/image/upload/v1694762566/Rectangle_2598_pbleoe.jpg"),lightgray 50% / cover no-repeat;
        height: 800px;
        width: 1440px;
        background-color: #F2F2F2;
        background-size: cover;
    } 
    .content{
        flex: 1;
        margin-right: 2000px;
    }
    .heading{
        color: #232073;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 51px; /* 115.909% */
        text-transform: uppercase;
        margin-left:350px; 
        margin-top: 300px;
        width: 206px;
    }
    .invest-span{
        font-family: 'Poppins';
        font-size: 24px;
        font-style: 'normal';
        font-weight: 700px;
        line-height: 51px;
        text-transform: 'uppercase';
        background: 'linear-gradient(90deg, #232073 52.7%, #D92365 85.57%)';
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .heading-1{
        color:"#220D4E"; 
        font-family:"Poppins"; 
        font-size:24px; 
        font-weight:300px; 
        text-transform:"capitalize";
        line-height:44px;
        margin-left:350px; 
        margin-top:20px;
    }
    .per-style{
        font-family: 'Poppins';
        font-size: 24px;
        font-style: 'normal';
        font-weight: 300px;
        line-height: 44px;
        text-transform: 'capitalize';
        background: 'linear-gradient(90deg, #D92365 26.96%, #232073 82.35%)';
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .fd-style{
        font-family: 'Poppins';
        font-size: 24px;
        font-style: 'normal';
        font-weight: 300px;
        line-height: 44px;
        text-transform: 'capitalize';
        background: 'linear-gradient(90deg, #232073 0%, #D92365 47.22%)';
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .button-1{
        width: 235px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 50px;
        background: #D92365;
        color: #F2F2F2;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px; /* 183.333% */
        text-transform: capitalize;
        margin-left: 350px;
        margin-top: 20px;
    }
    .image-2{
        height: 600px;
        width: 1400px;
        margin-left: 120px;
        background: none;
    }
    .icon-container{
        width: 112px;
        height: 16px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        margin-top: 260px;
        margin-left: 700px;
    }
}
@media (max-width: 575.98px) {
    .invest-container{
        display:"flex";
        flex-direction:"column"; 
        height:800px; 
        width: 1440px;
        background:"#F2F2F2";
        background-size: cover;
    }
    .img-container{
        display: flex;
        background: url("https://res.cloudinary.com/devj4jofj/image/upload/v1694762566/Rectangle_2598_pbleoe.jpg"),lightgray 50% / cover no-repeat;
        height: 900px;
        width: 1440px;
        background-color: #F2F2F2;
        background-size: cover;
    } 
    .content{
        flex: 1;
        margin-right: 2000px;
    }
    .heading{
        color: #232073;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 51px; /* 115.909% */
        text-transform: uppercase;
        margin-left:650px; 
        margin-top: 300px;
    }
    .invest-span{
        font-family: 'Poppins';
        font-size:14px;
        font-style: 'normal';
        font-weight: 700px;
        line-height: 51px;
        text-transform: 'uppercase';
        background: 'linear-gradient(90deg, #232073 52.7%, #D92365 85.57%)';
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .heading-1{
        color:"#220D4E"; 
        font-family:"Poppins"; 
        font-size:24px; 
        font-weight:300px; 
        text-transform:"capitalize";
        line-height:44px;
        margin-left:650px; 
        margin-top:20px;
    }
    .per-style{
        font-family: 'Poppins';
        font-size: 24px;
        font-style: 'normal';
        font-weight: 300px;
        line-height: 44px;
        text-transform: 'capitalize';
        background: 'linear-gradient(90deg, #D92365 26.96%, #232073 82.35%)';
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .fd-style{
        font-family: 'Poppins';
        font-size: 24px;
        font-style: 'normal';
        font-weight: 300px;
        line-height: 44px;
        text-transform: 'capitalize';
        background: 'linear-gradient(90deg, #232073 0%, #D92365 47.22%)';
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .button-1{
        width: 235px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 50px;
        background: #D92365;
        color: #F2F2F2;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px; /* 183.333% */
        text-transform: capitalize;
        margin-left: 650px;
        margin-top: 20px;
    }
    .image-2{
        height: 600px;
        width: 1400px;
        margin-left: 120px;
        background: none;
    }
    .icon-container{
        width: 112px;
        height: 16px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        margin-top: 260px;
        margin-left: 700px;
    }
}